.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 5% 0 10%;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  margin: 5%;
  padding: 5% 5% 5% 5%;
  flex-direction: column;
}

.saldo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
